[submodule "dotfiles/vim/pack/coding/start/asyncrun"]
	path = dotfiles/vim/pack/coding/start/asyncrun
	url = https://github.com/skywind3000/asyncrun.vim
[submodule "dotfiles/vim/pack/coding/start/asynctasks"]
	path = dotfiles/vim/pack/coding/start/asynctasks
	url = https://github.com/skywind3000/asynctasks.vim
[submodule "dotfiles/vim/pack/coding/start/YouCompleteMe"]
	path = dotfiles/vim/pack/coding/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "dotfiles/vim/pack/coding/start/ale"]
	path = dotfiles/vim/pack/coding/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "dotfiles/vim/pack/vcs/start/vim-fugitive"]
	path = dotfiles/vim/pack/vcs/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/vim/pack/coding/start/tcomment_vim"]
	path = dotfiles/vim/pack/coding/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "dotfiles/vim/pack/colors/start/gruvbox8"]
	path = dotfiles/vim/pack/colors/start/gruvbox8
	url = https://github.com/lifepillar/vim-gruvbox8.git
[submodule "dotfiles/vim/pack/colors/start/gruvbox"]
	path = dotfiles/vim/pack/colors/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "dotfiles/vim/pack/colors/start/solarized8"]
	path = dotfiles/vim/pack/colors/start/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "dotfiles/vim/pack/colors/start/nord"]
	path = dotfiles/vim/pack/colors/start/nord
	url = https://github.com/nordtheme/vim.git
[submodule "dotfiles/tmux/plugins/tpm"]
	path = dotfiles/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "dotfiles/vim/pack/general/start/sensible"]
	path = dotfiles/vim/pack/general/start/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "dotfiles/vim/pack/general/start/lightline"]
	path = dotfiles/vim/pack/general/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "dotfiles/vim/pack/vcs/start/gitgutter"]
	path = dotfiles/vim/pack/vcs/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "dotfiles/tmux/plugins/nord-tmux"]
	path = dotfiles/tmux/plugins/nord-tmux
	url = https://github.com/arcticicestudio/nord-tmux.git
[submodule "dotfiles/tmux/plugins/tmux-sensible"]
	path = dotfiles/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "dotfiles/vim/pack/general/start/floaterm"]
	path = dotfiles/vim/pack/general/start/floaterm
	url = https://github.com/voldikss/vim-floaterm
[submodule "dotfiles/vim/pack/text/start/cursorword"]
	path = dotfiles/vim/pack/text/start/cursorword
	url = https://github.com/itchyny/vim-cursorword.git
[submodule "dotfiles/vim/pack/general/start/vim-tmux-navigator"]
	path = dotfiles/vim/pack/general/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "dotfiles/vim/pack/coding/start/ultisnips"]
	path = dotfiles/vim/pack/coding/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "dotfiles/vim/pack/coding/start/vim_snippets"]
	path = dotfiles/vim/pack/coding/start/vim_snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "dotfiles/tmux/plugins/tmux-gruvbox"]
	path = dotfiles/tmux/plugins/tmux-gruvbox
	url = https://github.com/egel/tmux-gruvbox.git
[submodule "dotfiles/vim/pack/colors/start/shades_of_purple"]
	path = dotfiles/vim/pack/colors/start/shades_of_purple
	url = https://github.com/Rigellute/shades-of-purple.vim.git
[submodule "dotfiles/tmux/plugins/tmux-yank"]
	path = dotfiles/tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
